 
 .container{ 
      display: grid;
      height: 120px;
      width: 150px;
      grid-template-columns: repeat(3, 1fr 1fr);
      grid-template-rows: repeat(15,1fr);
      border: 1px solid black;
  
 }
 .item1,.item2{
   color:black;
 }
 .item1{
  grid-column: 2 /span 4;
  grid-row: 1/span 12;
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: #c7c2c2 ;
  width: 75px;
  height: 75px;
  border: 5px;
  border-radius: 50%;
  border: 5px;
  box-shadow: 
  3px 3px 3px rgb(139, 137, 137),
  -3px -3px 3px rgb(248, 245, 245) ;
 }
 .item2{
   grid-row: 13/span 3;
   grid-column: 1 /span 6;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .hc{
   font-size: 20px;
   position: absolute;
   margin: 0px;
   padding-bottom: 1px;
   padding-left: 5px;
   padding-right: 5px;
  
 }
 .mdtr{
   width: 500px;
   height: 20px;
   background-color: teal;
 }