.dashmenu{
    position: absolute;
    background-color:none;
    display: grid;
    width: 50%;
    top: 0px;
    height: inherit;
    margin: 0px;
}

.ullist{
    position: relative;
    margin: 0px;
    width: 100%;
    height: inherit;
    background-color:none;
    display:grid;
    grid-template-columns:repeat(7,1fr);

}

.ullist li{
 float: left;
  display: grid;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}



.link{
color: red;
}