.Test {
    display: flex;
    height: 50vh;
    justify-content: center;


}

.box {
    width: 100px;
    height: 100px;
    margin: 1px;
    background-color: red;
}

.active {
    background-color: blue;
}

.inactive {
    background-color: rgb(255, 123, 0);
}

.inpt {
    margin: 10px;
}